// ============================================
// AquaFX Hyperlink Component
// Matches JavaFX Hyperlink exactly
// ============================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

.aqua-hyperlink {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  display: inline;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  // Focus ring
  &:focus {
    outline: none;
    @include focus-ring;
    border-radius: 2px;
  }

  // Visited state
  &:visited {
    color: rgb(128, 118, 163);
  }

  // Active/pressed state
  &:active {
    color: rgb(60, 130, 190);
  }

  // Disabled state
  &.disabled,
  &:disabled {
    color: $aqua-text;
    opacity: $aqua-disabled-opacity;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }

  // Armed state (mouse down)
  &.armed {
    color: rgb(60, 130, 190);
  }
}

// Legacy class name support
.aqua-link {
  @extend .aqua-hyperlink;
}
