    <h2 id="color-swatches">Color Swatches</h2>

    <%- example(`
      <div style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap;">
        <div class="aqua-color-swatch" style="background: #FF5F57;"></div>
        <div class="aqua-color-swatch" style="background: #FFBD2E;"></div>
        <div class="aqua-color-swatch" style="background: #28CA41;"></div>
        <div class="aqua-color-swatch" style="background: #2B99FF;"></div>
        <div class="aqua-color-swatch" style="background: #5856D6;"></div>
      </div>
    `) %>

