    <h2 id="context-menu">Context Menu</h2>
    <p>Menu styling for right-click and contextual actions.</p>

    <%- example(`
      <div class="aqua-menu" style="display: inline-block;">
        <div class="aqua-menu-item"><span>Cut</span> <span class="shortcut">&#8984;X</span></div>
        <div class="aqua-menu-item"><span>Copy</span> <span class="shortcut">&#8984;C</span></div>
        <div class="aqua-menu-item"><span>Paste</span> <span class="shortcut">&#8984;V</span></div>
        <div class="aqua-menu-separator"></div>
        <div class="aqua-menu-item"><span>Select All</span> <span class="shortcut">&#8984;A</span></div>
      </div>
    `) %>

