    <h2 id="disclosure">Disclosure</h2>
    <p>Expandable section with disclosure triangle.</p>

    <%- example(`
      <details class="disclosure" style="width: 300px;">
        <summary>Advanced Options</summary>
        <div class="disclosure-content">
          <div class="field-row">
            <input type="checkbox" id="disc-check1">
            <label for="disc-check1">Enable logging</label>
          </div>
          <div class="field-row">
            <input type="checkbox" id="disc-check2">
            <label for="disc-check2">Debug mode</label>
          </div>
        </div>
      </details>
    `) %>

