    <h2 id="fieldset">Fieldset</h2>
    <%- example(`
      <fieldset>
        <legend>Settings</legend>
        <div class="field-row">
          <input type="checkbox" id="fs-check1" checked>
          <label for="fs-check1">Option 1</label>
        </div>
        <div class="field-row">
          <input type="checkbox" id="fs-check2">
          <label for="fs-check2">Option 2</label>
        </div>
      </fieldset>
    `) %>

