<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required SVG for pinwheel spinner blades -->
  <svg width="0" height="0" style="position:absolute">
    <defs>
      <clipPath id="spinnerBlade" clipPathUnits="objectBoundingBox">
        <path d="M 0.5,0.5 Q 0.6025,0.2720 0.3372,0.0272 A 0.5,0.5 0 0 1 0.6628,0.0272 Q 0.7211,0.3834 0.5,0.5 Z" />
      </clipPath>
    </defs>
  </svg>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A CSS library for building Apple Aqua-style interfaces (Mac OS X 10.0-10.4).">
  <meta property="og:title" content="aqua.css">
  <meta property="og:description" content="A CSS library for building Apple Aqua-style interfaces (Mac OS X 10.0-10.4).">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://projects.ahmadjalil.com/aqua.css">
  <title>aqua.css - Mac OS X Aqua Interface CSS Library</title>
  <link rel="icon" href="icon/finder.svg" type="image/svg+xml">
  <link rel="stylesheet" href="aqua.css">
  <link rel="stylesheet" href="docs.css">
</head>
