    <h2 id="pagination">Pagination</h2>

    <%- example(`
      <div class="aqua-pagination">
        <button class="aqua-pagination-arrow">&lt;</button>
        <button class="aqua-pagination-btn">1</button>
        <button class="aqua-pagination-btn active">2</button>
        <button class="aqua-pagination-btn">3</button>
        <button class="aqua-pagination-btn">4</button>
        <button class="aqua-pagination-btn">5</button>
        <button class="aqua-pagination-arrow">&gt;</button>
      </div>
    `) %>

