    <h2 id="separator">Separator</h2>

    <%- example(`
      <hr class="aqua-separator">
      <div style="display: flex; align-items: center;">
        <span>Item 1</span>
        <div class="aqua-separator vertical"></div>
        <span>Item 2</span>
        <div class="aqua-separator vertical"></div>
        <span>Item 3</span>
      </div>
    `) %>

