    <h2 id="table">Table View</h2>
    <p class="label">Alternating row colors: <span class="inline-code">--table-row-odd</span> and <span class="inline-code">--table-row-even</span></p>

    <div class="era-pre-10-4">
      <%- example(`
        <table class="aqua-table unified-header" style="width: 100%; max-width: 700px;">
          <thead>
            <tr>
              <th class="active" data-sort-dir="asc" style="width: 200px;">Name <span class="sort-arrow asc"></span></th>
              <th>Date Modified</th>
              <th>Size</th>
              <th>Kind</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Documents</td>
              <td>Dec 10, 2024</td>
              <td>--</td>
              <td>Folder</td>
            </tr>
            <tr>
              <td>report.pdf</td>
              <td>Dec 9, 2024</td>
              <td>2.4 MB</td>
              <td>PDF Document</td>
            </tr>
            <tr>
              <td>image.png</td>
              <td>Dec 8, 2024</td>
              <td>856 KB</td>
              <td>PNG Image</td>
            </tr>
          </tbody>
        </table>
      `) %>
    </div>

    <div class="era-10-4-plus">
      <%- example(`
        <table class="aqua-table" style="width: 100%; max-width: 600px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date Modified</th>
              <th>Size</th>
              <th>Kind</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Documents</td>
              <td>Dec 10, 2024</td>
              <td>--</td>
              <td>Folder</td>
            </tr>
            <tr>
              <td>report.pdf</td>
              <td>Dec 9, 2024</td>
              <td>2.4 MB</td>
              <td>PDF Document</td>
            </tr>
            <tr>
              <td>image.png</td>
              <td>Dec 8, 2024</td>
              <td>856 KB</td>
              <td>PNG Image</td>
            </tr>
          </tbody>
        </table>
      `) %>
    </div>
