    <h2 id="titled-pane">Titled Pane / Accordion</h2>

    <%- example(`
      <div class="aqua-titled-pane expanded">
        <div class="aqua-titled-pane-header" role="button" tabindex="0">
          <span class="aqua-titled-pane-arrow"></span>
          <span>General Options</span>
        </div>
        <div class="aqua-titled-pane-content">
          <p style="margin: 5px 0;">Content for general options goes here.</p>
        </div>
      </div>
      <div class="aqua-titled-pane">
        <div class="aqua-titled-pane-header" role="button" tabindex="0">
          <span class="aqua-titled-pane-arrow"></span>
          <span>Advanced Options</span>
        </div>
        <div class="aqua-titled-pane-content">
          <p style="margin: 5px 0;">Content for advanced options goes here.</p>
        </div>
      </div>
    `) %>

