    <h2 id="tooltip">Tooltip</h2>
    <p class="label">Background: <span class="inline-code">--tooltip-bg</span></p>

    <%- example(`
      <div class="aqua-tooltip">
        <button>Hover for tooltip</button>
        <span class="tooltip-text">This is a tooltip!</span>
      </div>
    `) %>

