/**
 * Checkboxes
 * Mac OS X Aqua-style checkboxes - JavaFX AquaFX accurate
 */

/* Class-based checkbox (recommended) */
.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-family: var(--font-system);
  font-size: var(--font-size-base);

  input {
    display: none;
  }

  /* The checkbox box */
  .box {
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 0.5px solid rgb(129, 129, 129);
    border-radius: 2.5px;
    background: rgb(250, 250, 250);
    background: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgb(252, 252, 252) 25%,
      rgb(244, 244, 244) 50%,
      rgb(238, 238, 238) 51%,
      rgb(243, 243, 243) 100%
    );
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    overflow: visible;

    /* Aqua glass effect */
    @include aqua-glass-effect('control');
  }

  /* Checkmark - positioned to extend outside the box (classic Aqua style) */
  .box .mark {
    display: none;
    position: absolute;
    inset: -3.5px -2.5px 2.5px 1px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2012%2012%27%3E%3Cpath%20d%3D%27m%2018.174523%2C1027.137%20c%20-0.18077%2C-0.4575%20-0.184364%2C-0.8913%200.115901%2C-1.1721%200.300265%2C-0.2809%200.836622%2C-0.3601%201.288422%2C-0.041%200.4518%2C0.3191%202.020453%2C2.9316%202.020453%2C2.9316%20l%205.41194%2C-8.0232%20c%20-4e-6%2C0%200.516257%2C-0.6671%201.248682%2C-0.3099%200.648831%2C0.3165%200.559153%2C1.0373%200.559153%2C1.0373%200%2C0%20-5.940433%2C9.3556%20-6.15501%2C9.6287%20-0.214577%2C0.273%20-1.595078%2C0.2481%20-1.817995%2C-0.027%20-0.222917%2C-0.2751%20-2.490777%2C-3.567%20-2.671546%2C-4.0244%20z%27%20transform%3D%27translate%28-17%20-1019%29%27%20fill%3D%27black%27%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    filter: drop-shadow(-1px 1px 0 rgba(255, 255, 255, 0.8));
  }

  /* Armed/pressed state */
  &:active .box {
    background: rgb(250, 250, 250);
    background: linear-gradient(
      rgb(224, 224, 224) 0%,
      rgb(214, 214, 214) 50%,
      rgb(207, 207, 207) 51%,
      rgb(208, 208, 208) 100%
    );
  }

  /* Checked state */
  input:checked + .box {
    border-color: rgb(100, 103, 124);
    background: linear-gradient(
      rgb(228, 250, 255) 0%,
      #91bdee 50%,
      #78b0ee 51%,
      rgb(228, 250, 255) 100%
    );

    .mark {
      display: block;
    }
  }

  /* Focus state */
  input:focus + .box {
    border-color: rgb(104, 155, 201);
    box-shadow: 0 0 0 3px rgba(120, 171, 217, 1);
  }

  /* Disabled state */
  &.disabled,
  &:has(input:disabled) {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }

  /* Indeterminate state */
  input:indeterminate + .box {
    border-color: rgb(100, 103, 124);
    background: linear-gradient(
      rgb(228, 250, 255) 0%,
      #91bdee 50%,
      #78b0ee 51%,
      rgb(228, 250, 255) 100%
    );

    .mark {
      display: block;
      width: 8px;
      height: 2px;
      background-image: none;
      background-color: #000;
      border-radius: 0;
      filter: drop-shadow(0 1.5px 0 rgba(255, 255, 255, 0.8));
    }
  }
}

/* Native checkbox fallback (element-based) */
input[type="checkbox"]:not(.checkbox input) {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 2.5px;
  border: 0.5px solid rgb(129, 129, 129);
  background: linear-gradient(
    rgb(255, 255, 255) 0%,
    rgb(252, 252, 252) 25%,
    rgb(244, 244, 244) 50%,
    rgb(238, 238, 238) 51%,
    rgb(243, 243, 243) 100%
  );
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
  cursor: default;
  vertical-align: middle;
  position: relative;
  transition: all 0.15s ease;
  overflow: visible;

  /* Aqua glass effect (shine only - ::after used for checkmark) */
  @include aqua-glass-shine('control');

  /* Check mark - extends outside the box (classic Aqua style) */
  &::after {
    content: "";
    position: absolute;
    inset: -3.5px -2.5px 2.5px 1px;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2012%2012%27%3E%3Cpath%20d%3D%27m%2018.174523%2C1027.137%20c%20-0.18077%2C-0.4575%20-0.184364%2C-0.8913%200.115901%2C-1.1721%200.300265%2C-0.2809%200.836622%2C-0.3601%201.288422%2C-0.041%200.4518%2C0.3191%202.020453%2C2.9316%202.020453%2C2.9316%20l%205.41194%2C-8.0232%20c%20-4e-6%2C0%200.516257%2C-0.6671%201.248682%2C-0.3099%200.648831%2C0.3165%200.559153%2C1.0373%200.559153%2C1.0373%200%2C0%20-5.940433%2C9.3556%20-6.15501%2C9.6287%20-0.214577%2C0.273%20-1.595078%2C0.2481%20-1.817995%2C-0.027%20-0.222917%2C-0.2751%20-2.490777%2C-3.567%20-2.671546%2C-4.0244%20z%27%20transform%3D%27translate%28-17%20-1019%29%27%20fill%3D%27black%27%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    opacity: 0;
    filter: drop-shadow(-1px 1px 0 rgba(255, 255, 255, 0.8));
    transition: opacity 0.1s ease;
  }

  &:checked {
    border-color: rgb(100, 103, 124);
    background: linear-gradient(
      rgb(228, 250, 255) 0%,
      #91bdee 50%,
      #78b0ee 51%,
      rgb(228, 250, 255) 100%
    );

    &::after {
      opacity: 1;
    }
  }

  &:focus {
    border-color: rgb(104, 155, 201);
    box-shadow: 0 0 0 3px rgba(120, 171, 217, 1);
    outline: none;
  }

  &:active:not(:disabled) {
    background: linear-gradient(
      rgb(224, 224, 224) 0%,
      rgb(214, 214, 214) 50%,
      rgb(207, 207, 207) 51%,
      rgb(208, 208, 208) 100%
    );
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  /* Indeterminate state */
  &:indeterminate {
    border-color: rgb(100, 103, 124);
    background: linear-gradient(
      rgb(228, 250, 255) 0%,
      #91bdee 50%,
      #78b0ee 51%,
      rgb(228, 250, 255) 100%
    );

    &::after {
      inset: auto;
      width: 8px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: none;
      background-color: #000;
      border-radius: 0;
      opacity: 1;
      filter: drop-shadow(0 1.5px 0 rgba(255, 255, 255, 0.8));
    }
  }
}

/* Checkbox with label wrapper */
.field-row input[type="checkbox"] + label,
label input[type="checkbox"] {
  cursor: pointer;
}

.field-row:has(input[type="checkbox"]:disabled) label,
label:has(input[type="checkbox"]:disabled) {
  color: var(--text-disabled);
  cursor: not-allowed;
}
