/**
 * Forms
 * Mac OS X Aqua-style text inputs, textareas, selects, labels
 */

/* Text Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
.aqua-textfield,
textarea {
  height: 20px;
  font-size: 10pt;
  font-family: "Lucida Grande", "Lucida Sans Unicode", var(--font-system);
  padding: 0px 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid rgb(195, 195, 195);
  border-top-color: rgb(152, 152, 152);
  box-shadow: inset 0px 1px 2px -1px rgba(0, 0, 0, .35);
  transition: none;
  border-radius: 0;
  outline: none;
  background: #ffffff;
  color: var(--text-color);

  &::selection {
    background: #A8CBFF !important;
  }

  &::-moz-selection {
    background: #A8CBFF !important;
  }

  &:focus {
    border-radius: 2px;
    border-color: rgb(90, 150, 200);
    box-shadow: 0px 0px 2px 2px rgba(110, 160, 210, .9), inset 0px 1px 2px -1px rgba(0, 0, 0, .25);
  }

  &::placeholder {
    color: #999;
  }

  &:disabled {
    background: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }
}

.aqua-textfield.round-rect {
  border-radius: 11px;
  padding: 0 10px;
}

.aqua-textfield.search {
  border-radius: 11px;
  padding-left: 25px;
  padding-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='rgb(116,116,116)' stroke-width='2'%3E%3Ccircle cx='10' cy='10' r='6'/%3E%3Cline x1='14' y1='14' x2='20' y2='20'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 7px center;
}

textarea {
  resize: vertical;
  min-height: 60px;
  height: auto;
  padding: 4px;
}

/* Size variants */
input.small {
  height: 16px;
  font-size: 9pt;
  padding: 0px 3px;
}

input.large {
  height: 26px;
  font-size: 12pt;
  padding: 0px 6px;
}

/* Select Dropdown */
select {
  position: relative;
  height: 20px;
  min-width: 130px;
  padding: 0 24px 0 10px;
  font-size: 10pt;
  font-family: "Lucida Grande", "Lucida Sans Unicode", var(--font-system);
  border: 1px solid rgb(152, 152, 152);
  border-radius: 4px;
  background: transparent;
  background-image: linear-gradient(
    rgb(255, 255, 255) 22%,
    rgb(251, 251, 251) 27.5%,
    rgb(249, 249, 249) 33%,
    rgb(245, 245, 245) 38.5%,
    rgb(242, 242, 242) 44%,
    rgb(240, 240, 240) 50%,
    rgb(231, 231, 231) 55.5%,
    rgb(231, 231, 231) 72%,
    rgb(232, 232, 232) 77.5%,
    rgb(232, 232, 232) 89%,
    rgb(235, 235, 235) 95%,
    rgb(239, 239, 239) 100%
  );
  box-shadow: inset 3px 0px 3px -3px rgba(0, 0, 0, .2), inset -3px 0px 3px -3px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  color: var(--text-color);

  /* Aqua glass effect */
  @include aqua-glass-effect('select');

  &:focus {
    border-color: rgb(90, 150, 200);
    box-shadow: 0px 0px 2px 2px rgba(110, 160, 210, .9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Select wrapper for custom arrows */
.select-wrapper {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 7px;
    width: 0;
    height: 0;
    border: 3px dashed;
    border-color: rgb(57, 57, 57) transparent;
    pointer-events: none;
  }

  &::before {
    border-bottom-style: solid;
    border-top: none;
  }

  &::after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }

  select {
    width: 100%;
  }
}

/* Labels */
label {
  font-family: var(--font-system);
  font-size: var(--font-size-base);
  color: var(--text-color);
  user-select: none;
  cursor: default;

  &.disabled {
    color: var(--text-disabled);
  }
}

/* Search Field - Rounded Aqua style */
input[type="search"],
.search-field {
  position: relative;
  height: 22px;
  min-width: 180px;
  padding: 0 24px;
  border-radius: 11px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f8f8f8 100%
  );
  box-shadow:
    inset 0 1px 3px rgba(0, 0, 0, 0.15),
    inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.8);
  font-family: var(--font-system);
  font-size: 12px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow 0.15s ease;

  &:focus {
    outline: none;
    box-shadow:
      inset 0 1px 3px rgba(0, 0, 0, 0.15),
      inset 0 0 0 1px rgba(0, 100, 200, 0.5),
      0 1px 0 rgba(255, 255, 255, 0.8),
      0 0 0 3px rgba(52, 106, 227, 0.35);
  }

  &::placeholder {
    color: #999;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: #666;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    margin-right: -4px;
  }

  &::-webkit-search-cancel-button:hover {
    opacity: 1;
  }
}

/* ============================================
   SLIDER / RANGE INPUT - JavaFX AquaFX accurate
   ============================================ */
input[type="range"],
.aqua-slider,
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 4px;
  background: linear-gradient(to bottom, rgb(147, 147, 147), rgb(217, 217, 217));
  border: 0.5px solid;
  border-color: rgb(111, 111, 111) rgb(171, 171, 171) rgb(171, 171, 171) rgb(111, 111, 111);
  border-radius: 2.5px;
  outline: none;

  /* Webkit thumb (Chrome, Safari, Edge) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 0.5px solid rgba(87, 87, 87, 0.8);
    border-radius: 50%;
    background: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgb(252, 252, 252) 25%,
      rgb(244, 244, 244) 50%,
      rgb(238, 238, 238) 51%,
      rgb(243, 243, 243) 95%,
      rgb(255, 255, 255) 97.5%,
      rgb(243, 243, 243) 100%
    );
    cursor: pointer;
    box-shadow: 0 0 2px rgba(192, 192, 198, 0.5);
  }

  &::-webkit-slider-thumb:active {
    background: linear-gradient(
      rgb(224, 224, 224) 0%,
      rgb(214, 214, 214) 50%,
      rgb(207, 207, 207) 51%,
      rgb(208, 208, 208) 95%,
      rgb(220, 220, 220) 97.5%,
      rgb(208, 208, 208) 100%
    );
  }

  /* Mozilla thumb (Firefox) */
  &::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 0.5px solid rgba(87, 87, 87, 0.8);
    border-radius: 50%;
    background: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgb(252, 252, 252) 25%,
      rgb(244, 244, 244) 50%,
      rgb(238, 238, 238) 51%,
      rgb(243, 243, 243) 95%,
      rgb(255, 255, 255) 97.5%,
      rgb(243, 243, 243) 100%
    );
    cursor: pointer;
    box-shadow: 0 0 2px rgba(192, 192, 198, 0.5);
  }

  &::-moz-range-thumb:active {
    background: linear-gradient(
      rgb(224, 224, 224) 0%,
      rgb(214, 214, 214) 50%,
      rgb(207, 207, 207) 51%,
      rgb(208, 208, 208) 95%,
      rgb(220, 220, 220) 97.5%,
      rgb(208, 208, 208) 100%
    );
  }

  /* Mozilla track */
  &::-moz-range-track {
    height: 4px;
    background: linear-gradient(to bottom, rgb(147, 147, 147), rgb(217, 217, 217));
    border: 0.5px solid;
    border-color: rgb(111, 111, 111) rgb(171, 171, 171) rgb(171, 171, 171) rgb(111, 111, 111);
    border-radius: 2.5px;
  }

  /* Focus state */
  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 3px rgba(104, 155, 201, 0.5);
    }
    &::-moz-range-thumb {
      box-shadow: 0 0 0 3px rgba(104, 155, 201, 0.5);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }
    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}

/* Vertical slider */
input[type="range"].vertical,
.aqua-slider.vertical,
.slider.vertical {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 4px;
  height: 150px;
  background: linear-gradient(to right, rgb(147, 147, 147), rgb(217, 217, 217));
}

/* ============================================
   Custom slider (showcase)
   ============================================ */

.aqua-slider-custom {
  position: relative;
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;

  .track {
    width: 100%;
    height: 4px;
    background: linear-gradient(to bottom, rgb(147, 147, 147), rgb(217, 217, 217));
    border: 0.5px solid;
    border-color: rgb(111, 111, 111) rgb(171, 171, 171) rgb(171, 171, 171) rgb(111, 111, 111);
    border-radius: 2.5px;
    position: relative;
  }

  .thumb {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 0.5px solid rgba(87, 87, 87, 0.8);
    border-radius: 50%;
    background: linear-gradient(
      rgb(255, 255, 255) 0%,
      rgb(252, 252, 252) 25%,
      rgb(244, 244, 244) 50%,
      rgb(238, 238, 238) 51%,
      rgb(243, 243, 243) 95%,
      rgb(255, 255, 255) 97.5%,
      rgb(243, 243, 243) 100%
    );
    cursor: pointer;
    box-shadow: 0 0 2px rgba(192, 192, 198, 0.5);
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    overflow: hidden;

    /* Aqua glass effect */
    @include aqua-glass-effect('slider-thumb');
  }

  .thumb:active {
    background: linear-gradient(
      rgb(224, 224, 224) 0%,
      rgb(214, 214, 214) 50%,
      rgb(207, 207, 207) 51%,
      rgb(208, 208, 208) 95%,
      rgb(220, 220, 220) 97.5%,
      rgb(208, 208, 208) 100%
    );
  }

  .ticks {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .tick {
    width: 1px;
    height: 4px;
    background: rgb(146, 146, 146);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.vertical {
    width: 20px;
    height: 150px;
    flex-direction: column;

    .track {
      width: 4px;
      height: 100%;
      background: linear-gradient(to right, rgb(147, 147, 147), rgb(217, 217, 217));
      border-color: rgb(111, 111, 111) rgb(171, 171, 171) rgb(171, 171, 171) rgb(111, 111, 111);
    }

    .thumb {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ticks {
      top: 0;
      left: 100%;
      margin-left: 6px;
      margin-top: 0;
      width: auto;
      height: 100%;
      flex-direction: column;
      padding: 8px 0;
    }

    .tick {
      width: 4px;
      height: 1px;
    }
  }

  &.alternative-thumb {
    .thumb {
      width: 17px;
      height: 19px;
      border: none;
      border-radius: 0;
      background: none;
      box-shadow: none;
      transform: translateY(-35%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 19'%3E%3Cdefs%3E%3ClinearGradient id='thumbGrad' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(255,255,255)'/%3E%3Cstop offset='15%25' style='stop-color:rgb(253,253,253)'/%3E%3Cstop offset='34%25' style='stop-color:rgb(244,244,244)'/%3E%3Cstop offset='35%25' style='stop-color:rgb(236,236,236)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(243,243,243)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.5 18.5 C14.5 12 16.5 10.5 16.5 9 L16.5 3 C16.5 1.5 15.5 0.5 14 0.5 L3 0.5 C1.5 0.5 0.5 1.5 0.5 3 L0.5 9 C0.5 10.5 2.5 12 8.5 18.5 Z' fill='url(%23thumbGrad)' stroke='rgba(87,87,87,0.8)' stroke-width='1'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .thumb:active {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 19'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradActive' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(224,224,224)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(214,214,214)'/%3E%3Cstop offset='51%25' style='stop-color:rgb(207,207,207)'/%3E%3Cstop offset='95%25' style='stop-color:rgb(208,208,208)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(220,220,220)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.5 18.5 C14.5 12 16.5 10.5 16.5 9 L16.5 3 C16.5 1.5 15.5 0.5 14 0.5 L3 0.5 C1.5 0.5 0.5 1.5 0.5 3 L0.5 9 C0.5 10.5 2.5 12 8.5 18.5 Z' fill='url(%23thumbGradActive)' stroke='rgba(87,87,87,0.8)' stroke-width='1'/%3E%3C/svg%3E");
    }

    &.vertical .thumb {
      width: 19px;
      height: 17px;
      transform: translate(-35%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 17'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradV' x1='100%25' y1='0%25' x2='0%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(255,255,255)'/%3E%3Cstop offset='25%25' style='stop-color:rgb(253,253,253)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(244,244,244)'/%3E%3Cstop offset='51%25' style='stop-color:rgb(236,236,236)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(243,243,243)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M18.5 8.5 C12 14.5 10.5 16.5 9 16.5 L3 16.5 C1.5 16.5 0.5 15.5 0.5 14 L0.5 3 C0.5 1.5 1.5 0.5 3 0.5 L9 0.5 C10.5 0.5 12 2.5 18.5 8.5 Z' fill='url(%23thumbGradV)' stroke='rgba(87,87,87,0.8)' stroke-width='1'/%3E%3C/svg%3E");
    }

    &.vertical .thumb:active {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 17'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradVActive' x1='100%25' y1='0%25' x2='0%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(224,224,224)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(214,214,214)'/%3E%3Cstop offset='51%25' style='stop-color:rgb(207,207,207)'/%3E%3Cstop offset='95%25' style='stop-color:rgb(208,208,208)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(220,220,220)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M18.5 8.5 C12 14.5 10.5 16.5 9 16.5 L3 16.5 C1.5 16.5 0.5 15.5 0.5 14 L0.5 3 C0.5 1.5 1.5 0.5 3 0.5 L9 0.5 C10.5 0.5 12 2.5 18.5 8.5 Z' fill='url(%23thumbGradVActive)' stroke='rgba(87,87,87,0.8)' stroke-width='1'/%3E%3C/svg%3E");
    }
  }

  &.show-ticks {
    margin-bottom: 25px;

    &.vertical {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

/* Input with label wrapper */
.input-group,
.field-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-system);
  font-size: 10pt;

  label {
    min-width: 70px;
    text-align: right;
  }
}
