/**
 * Forms
 * Mac OS X Aqua-style text inputs, textareas, selects, labels
 */

@use "mixins" as *;

/* Text Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
.aqua-textfield,
textarea {
  height: 20px;
  font-size: 10pt;
  font-family: "Lucida Grande", "Lucida Sans Unicode", var(--font-system);
  padding: 0px 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--input-border);
  border-top-color: var(--input-border-top);
  box-shadow: var(--input-shadow);
  transition: none;
  border-radius: 0;
  outline: none;
  background: var(--input-bg);
  color: var(--text-color);

  &::selection {
    background: var(--input-selection-bg) !important;
  }

  &::-moz-selection {
    background: var(--input-selection-bg) !important;
  }

  &:focus {
    border-radius: 2px;
    border-color: var(--input-focus-border);
    box-shadow: var(--input-focus-shadow);
  }

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:disabled {
    background: var(--input-disabled-bg);
    color: var(--input-disabled-text);
    cursor: not-allowed;
  }
}

.aqua-textfield.round-rect {
  border-radius: 11px;
  padding: 0 10px;
}

.aqua-textfield.search {
  border-radius: 11px;
  padding-left: 25px;
  padding-right: 10px;
  background-image: var(--search-icon);
  background-repeat: no-repeat;
  background-position: 7px center;
}

textarea {
  resize: vertical;
  min-height: 60px;
  height: auto;
  padding: 4px;
}

/* Size variants */
input.small {
  height: 16px;
  font-size: 9pt;
  padding: 0px 3px;
}

input.large {
  height: 26px;
  font-size: 12pt;
  padding: 0px 6px;
}

/* Select Dropdown */
select {
  position: relative;
  height: 20px;
  min-width: 130px;
  padding: 0 24px 0 10px;
  font-size: 10pt;
  font-family: "Lucida Grande", "Lucida Sans Unicode", var(--font-system);
  border: 1px solid var(--select-border);
  border-radius: 4px;
  background: transparent;
  background-image: var(--select-gradient);
  box-shadow: var(--select-shadow);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  color: var(--text-color);

  /* Aqua glass effect */
  @include aqua-glass('box');

  &:focus {
    border-color: var(--select-focus-border);
    box-shadow: var(--select-focus-shadow);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

/* Select wrapper for custom arrows */
.select-wrapper {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 7px;
    width: 0;
    height: 0;
    border: 3px dashed;
    border-color: var(--select-arrow-color) transparent;
    pointer-events: none;
  }

  &::before {
    border-bottom-style: solid;
    border-top: none;
  }

  &::after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }

  select {
    width: 100%;
  }
}

/* Labels */
label {
  font-family: var(--font-system);
  font-size: var(--font-size-base);
  color: var(--text-color);
  user-select: none;
  cursor: default;

  &.disabled {
    color: var(--text-disabled);
  }
}

/* Search Field - Rounded Aqua style */
input[type="search"],
.search-field {
  position: relative;
  height: 22px;
  min-width: 180px;
  padding: 0 24px;
  border-radius: 11px;
  background: var(--search-field-gradient);
  box-shadow: var(--search-field-shadow);
  font-family: var(--font-system);
  font-size: 12px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  transition: box-shadow 0.15s ease;

  &:focus {
    outline: none;
    box-shadow: var(--search-field-focus-shadow);
  }

  &::placeholder {
    color: var(--search-field-placeholder);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: var(--search-cancel-bg);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    margin-right: -4px;
  }

  &::-webkit-search-cancel-button:hover {
    opacity: 1;
  }
}

/* ============================================
   SLIDER / RANGE INPUT - JavaFX AquaFX accurate
   ============================================ */
input[type="range"],
.aqua-slider,
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 4px;
  background: var(--slider-track-gradient);
  border: 0.5px solid;
  border-color: var(--slider-track-border);
  border-radius: 2.5px;
  outline: none;

  /* Webkit thumb (Chrome, Safari, Edge) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
  }

  &::-webkit-slider-thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  /* Mozilla thumb (Firefox) */
  &::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
  }

  &::-moz-range-thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  /* Mozilla track */
  &::-moz-range-track {
    height: 4px;
    background: var(--slider-track-gradient);
    border: 0.5px solid;
    border-color: var(--slider-track-border);
    border-radius: 2.5px;
  }

  /* Focus state */
  &:focus {
    &::-webkit-slider-thumb {
      box-shadow: var(--slider-focus-ring);
    }
    &::-moz-range-thumb {
      box-shadow: var(--slider-focus-ring);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }
    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}

/* Vertical slider */
input[type="range"].vertical,
.aqua-slider.vertical,
.slider.vertical {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 4px;
  height: 150px;
  background: var(--slider-track-gradient-vertical);
}

/* ============================================
   Custom slider (showcase)
   ============================================ */

.aqua-slider-custom {
  position: relative;
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;

  .track {
    width: 100%;
    height: 4px;
    background: var(--slider-track-gradient);
    border: 0.5px solid;
    border-color: var(--slider-track-border);
    border-radius: 2.5px;
    position: relative;
  }

  .thumb {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    overflow: hidden;

    /* Aqua glass effect */
    @include aqua-glass('round', $intensity: 0.9);
  }

  .thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  .ticks {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
  }

  .tick {
    width: 1px;
    height: 4px;
    background: var(--slider-tick);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.vertical {
    width: 20px;
    height: 150px;
    flex-direction: column;

    .track {
      width: 4px;
      height: 100%;
      background: var(--slider-track-gradient-vertical);
      border-color: var(--slider-track-border);
    }

    .thumb {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ticks {
      top: 0;
      left: 100%;
      margin-left: 6px;
      margin-top: 0;
      width: auto;
      height: 100%;
      flex-direction: column;
      padding: 8px 0;
    }

    .tick {
      width: 4px;
      height: 1px;
    }
  }

  &.alternative-thumb {
    .thumb {
      width: 17px;
      height: 19px;
      border: none;
      border-radius: 0;
      background: none;
      box-shadow: none;
      transform: translateY(-35%);
      background-image: var(--slider-thumb-alt-image);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .thumb:active {
      background-image: var(--slider-thumb-alt-active-image);
    }

    &.vertical .thumb {
      width: 19px;
      height: 17px;
      transform: translate(-35%, -50%);
      background-image: var(--slider-thumb-alt-vertical-image);
    }

    &.vertical .thumb:active {
      background-image: var(--slider-thumb-alt-vertical-active-image);
    }
  }

  &.show-ticks {
    margin-bottom: 25px;

    &.vertical {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}

/* Input with label wrapper */
.input-group,
.field-row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-system);
  font-size: 10pt;

  label {
    min-width: 70px;
    text-align: right;
  }
}
