/**
 * Radio Buttons
 * Mac OS X Aqua-style radio buttons with glossy gradients
 */

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--radio-size);
  height: var(--radio-size);
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f0f0f0 50%,
    #e0e0e0 100%
  );
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.25);
  cursor: default;
  vertical-align: middle;
  position: relative;
  transition: all 0.15s ease;
  overflow: hidden;

  /* Top shine */
  &::before {
    content: '';
    position: absolute;
    top: 8%;
    left: 15%;
    right: 15%;
    height: 40%;
    background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.2)
    );
    border-radius: 50% 50% 40% 40%;
    pointer-events: none;
  }

  /* Inner dot */
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #e8e8e8 100%
    );
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.3),
      inset 0 1px 0 rgba(255, 255, 255, 1);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.1s ease;
  }

  &:checked {
    background: linear-gradient(
      to bottom,
      rgba(0, 65, 184, 0.9) 0%,
      rgba(45, 115, 199, 0.9) 50%,
      rgba(33, 160, 196, 0.9) 100%
    );
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.3),
      0 1px 1px rgba(0, 78, 187, 0.5),
      inset 0 1px 2px rgba(0, 17, 49, 0.6),
      inset 0 2px 3px 1px rgba(0, 78, 187, 0.5),
      0 0 0 1px rgba(0, 50, 150, 0.5);

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &:hover:not(:disabled) {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.25),
      inset 0 1px 0 rgba(255, 255, 255, 0.9),
      inset 0 -1px 0 rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.3),
      0 0 4px rgba(52, 106, 227, 0.3);
  }

  &:checked:hover:not(:disabled) {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.35),
      0 1px 1px rgba(0, 78, 187, 0.5),
      inset 0 1px 2px rgba(0, 17, 49, 0.6),
      inset 0 2px 3px 1px rgba(0, 78, 187, 0.5),
      0 0 0 1px rgba(0, 50, 150, 0.5),
      0 0 4px rgba(52, 106, 227, 0.5);
  }

  &:focus {
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.2),
      inset 0 1px 0 rgba(255, 255, 255, 0.9),
      inset 0 -1px 0 rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.25),
      0 0 0 3px rgba(52, 106, 227, 0.4);
    outline: none;
  }

  &:checked:focus {
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.3),
      0 1px 1px rgba(0, 78, 187, 0.5),
      inset 0 1px 2px rgba(0, 17, 49, 0.6),
      inset 0 2px 3px 1px rgba(0, 78, 187, 0.5),
      0 0 0 1px rgba(0, 50, 150, 0.5),
      0 0 0 3px rgba(52, 106, 227, 0.4);
  }

  &:active:not(:disabled) {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: linear-gradient(
      to bottom,
      #e8e8e8 0%,
      #d8d8d8 50%,
      #c8c8c8 100%
    );
  }
}

/* Radio with label wrapper */
.field-row input[type="radio"] + label,
label input[type="radio"] {
  cursor: pointer;
}

.field-row:has(input[type="radio"]:disabled) label,
label:has(input[type="radio"]:disabled) {
  color: var(--text-disabled);
  cursor: not-allowed;
}
