/* ============================================
   SLIDER / RANGE INPUT
   ============================================ */

// Slider CSS Variables
:root {
  --slider-track-gradient: linear-gradient(
    to bottom,
    rgb(147, 147, 147),
    rgb(217, 217, 217)
  );
  --slider-track-gradient-vertical: linear-gradient(
    to right,
    rgb(147, 147, 147),
    rgb(217, 217, 217)
  );
  --slider-track-border: rgb(111, 111, 111) rgb(171, 171, 171) rgb(171, 171, 171) rgb(111, 111, 111);
  --slider-thumb-border: rgb(129, 129, 129);
  --slider-thumb-gradient: linear-gradient(
    rgb(255, 255, 255) 25%,
    rgb(243, 243, 243) 50%,
    rgb(236, 236, 236) 50%,
    rgb(243, 243, 243) 100%
  );
  --slider-thumb-shadow: 0 0.8px 1px rgba(172, 172, 184, 0.5);
  --slider-thumb-active-gradient: linear-gradient(
    rgb(224, 224, 224) 0%,
    rgb(214, 214, 214) 50%,
    rgb(207, 207, 207) 51%,
    rgb(208, 208, 208) 95%,
    rgb(220, 220, 220) 97.5%,
    rgb(208, 208, 208) 100%
  );
  --slider-focus-ring: 0 0 0 3px rgba(104, 155, 201, 0.5);
  --slider-tick: rgb(146, 146, 146);
  --slider-thumb-alt-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 19'%3E%3Cdefs%3E%3ClinearGradient id='thumbGrad' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='25%25' style='stop-color:rgb(255,255,255)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(243,243,243)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(236,236,236)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(243,243,243)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.5 18.5 C14.5 12 16.5 10.5 16.5 9 L16.5 3 C16.5 1.5 15.5 0.5 14 0.5 L3 0.5 C1.5 0.5 0.5 1.5 0.5 3 L0.5 9 C0.5 10.5 2.5 12 8.5 18.5 Z' fill='url(%23thumbGrad)' stroke='rgb(129,129,129)' stroke-width='1'/%3E%3C/svg%3E");
  --slider-thumb-alt-active-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 19'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradActive' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(224,224,224)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(214,214,214)'/%3E%3Cstop offset='51%25' style='stop-color:rgb(207,207,207)'/%3E%3Cstop offset='95%25' style='stop-color:rgb(208,208,208)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(220,220,220)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M8.5 18.5 C14.5 12 16.5 10.5 16.5 9 L16.5 3 C16.5 1.5 15.5 0.5 14 0.5 L3 0.5 C1.5 0.5 0.5 1.5 0.5 3 L0.5 9 C0.5 10.5 2.5 12 8.5 18.5 Z' fill='url(%23thumbGradActive)' stroke='rgb(129,129,129)' stroke-width='1'/%3E%3C/svg%3E");
  --slider-thumb-alt-vertical-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 17'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradV' x1='100%25' y1='0%25' x2='0%25' y2='0%25'%3E%3Cstop offset='25%25' style='stop-color:rgb(255,255,255)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(243,243,243)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(236,236,236)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(243,243,243)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M18.5 8.5 C12 14.5 10.5 16.5 9 16.5 L3 16.5 C1.5 16.5 0.5 15.5 0.5 14 L0.5 3 C0.5 1.5 1.5 0.5 3 0.5 L9 0.5 C10.5 0.5 12 2.5 18.5 8.5 Z' fill='url(%23thumbGradV)' stroke='rgb(129,129,129)' stroke-width='1'/%3E%3C/svg%3E");
  --slider-thumb-alt-vertical-active-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 17'%3E%3Cdefs%3E%3ClinearGradient id='thumbGradVActive' x1='100%25' y1='0%25' x2='0%25' y2='0%25'%3E%3Cstop offset='0%25' style='stop-color:rgb(224,224,224)'/%3E%3Cstop offset='50%25' style='stop-color:rgb(214,214,214)'/%3E%3Cstop offset='51%25' style='stop-color:rgb(207,207,207)'/%3E%3Cstop offset='95%25' style='stop-color:rgb(208,208,208)'/%3E%3Cstop offset='100%25' style='stop-color:rgb(220,220,220)'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M18.5 8.5 C12 14.5 10.5 16.5 9 16.5 L3 16.5 C1.5 16.5 0.5 15.5 0.5 14 L0.5 3 C0.5 1.5 1.5 0.5 3 0.5 L9 0.5 C10.5 0.5 12 2.5 18.5 8.5 Z' fill='url(%23thumbGradVActive)' stroke='rgb(129,129,129)' stroke-width='1'/%3E%3C/svg%3E");
}

/* Native range input */
input[type="range"],
.aqua-slider,
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 4px;
  background: var(--slider-track-gradient);
  border: 0.5px solid;
  border-color: var(--slider-track-border);
  border-radius: 2.5px;
  outline: none;

  /* Webkit thumb (Chrome, Safari, Edge) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
  }

  &::-webkit-slider-thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  /* Mozilla thumb (Firefox) */
  &::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
  }

  &::-moz-range-thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  /* Mozilla track */
  &::-moz-range-track {
    height: 4px;
    background: var(--slider-track-gradient);
    border: 0.5px solid;
    border-color: var(--slider-track-border);
    border-radius: 2.5px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      cursor: not-allowed;
    }
    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
}

/* Vertical slider */
input[type="range"].vertical,
.aqua-slider.vertical,
.slider.vertical {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 4px;
  height: 150px;
  background: var(--slider-track-gradient-vertical);
}

/* ============================================
   Custom slider (div-based with pointer thumb)
   ============================================ */

.aqua-slider-custom {
  position: relative;
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;

  .track {
    width: 100%;
    height: 4px;
    background: var(--slider-track-gradient);
    border: 0.5px solid;
    border-color: var(--slider-track-border);
    border-radius: 2.5px;
    position: relative;
  }

  .thumb {
    position: absolute;
    width: 17px;
    height: 17px;
    border: 0.5px solid var(--slider-thumb-border);
    border-radius: 50%;
    background: var(--slider-thumb-gradient);
    cursor: pointer;
    box-shadow: var(--slider-thumb-shadow);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    overflow: hidden;
  }

  .thumb:active {
    background: var(--slider-thumb-active-gradient);
  }

  .ticks {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
  }

  .tick {
    width: 1px;
    height: 4px;
    background: var(--slider-tick);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.vertical {
    width: 20px;
    height: 150px;
    flex-direction: column;

    .track {
      width: 4px;
      height: 100%;
      background: var(--slider-track-gradient-vertical);
      border-color: var(--slider-track-border);
    }

    .thumb {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .ticks {
      top: 0;
      left: 100%;
      margin-left: 6px;
      margin-top: 0;
      width: auto;
      height: 100%;
      flex-direction: column;
      padding: 0;
    }

    .tick {
      width: 4px;
      height: 1px;
    }
  }

  /* Pointer/alternative thumb style */
  &.alternative-thumb {
    .thumb {
      width: 17px;
      height: 19px;
      border: none;
      border-radius: 0;
      background: none;
      box-shadow: none;
      /* Center horizontally, position tip near track */
      transform: translate(-50%, -35%);
      background-image: var(--slider-thumb-alt-image);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .thumb:active {
      background-image: var(--slider-thumb-alt-active-image);
    }

    &.vertical .thumb {
      width: 19px;
      height: 17px;
      /* Center vertically, position tip near track */
      transform: translate(-35%, -50%);
      background-image: var(--slider-thumb-alt-vertical-image);
    }

    &.vertical .thumb:active {
      background-image: var(--slider-thumb-alt-vertical-active-image);
    }
  }

  &.show-ticks {
    margin-bottom: 25px;

    &.vertical {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
