/**
 * Stepper / Number Input
 * Number input with increment/decrement buttons
 */

.stepper {
  display: inline-flex;
  align-items: stretch;
  border: 1px solid #888888;
  border-radius: var(--radius-small);
  overflow: hidden;

  input[type="number"] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 60px;
    text-align: center;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  button {
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    border: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 1;

    &:first-child {
      border-right: 1px solid #888888;
    }

    &:last-child {
      border-left: 1px solid #888888;
    }
  }
}
